@model  MVC.PagedList<Maticsoft.Model.Records>
@using  MVC;
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>序号<i class="sort"><img src="/Content/images/px.gif" /></i></th>
              <th>身份证号</th>
        <th>姓名</th>
             <th>电话</th>
             <th>科目</th>
             <th>分数</th>
             <th>考核时间</th>
            
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
              @if (Model != null && Model.Count > 0)
{
    int i = 0; 
       
            foreach (var item in Model)
        {
            i++;    
        <tr>
        <td>@i</td>
             <td>@item.CID</td>
        <td>@item.Name</td>
              <td>@item.Phone</td>
             <td>@item.OrderID</td>
               <td>@item.XGRQ</td>
               <td>@item.SGRQ</td>
        <td>
               @{
    string UserName = Maticsoft.BLL.Users.GetUsersName();
    string UserType ="";
    if (!string.IsNullOrEmpty(UserName)&&UserName.Substring(0,3)=="管理员")
    {
        UserType = "管理员";
    }
    else
    {
        UserType = "用户";
    }
    }
@if (UserType == "管理员")
{
            <a href="/Records/Create?ID=@item.ID"   >修改</a> 
            <a href="#" onclick="Del(@item.ID)"   >删除</a> 
}
        </td>
        </tr>    
            }
} 
        </tbody>
    </table>
    
<div class="pagination pagination-centered">
    @Html.Pager(Model, new PagerOptions { ShowFirstLast = false, PrevPageText = "上一页", NextPageText = "下一页", AlwaysShowFirstLastPageNumber = true }, "Paged", new { action = "Manage" })
</div>
    

