@model Maticsoft.Model.Users
@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人基本信息</title>
<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
          <link href="@Url.Content("~/Scripts/Uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Uploadify/jquery.uploadify.min.js")" type="text/javascript"></script>
</head>

<body>

	
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
    
    <ul class="forminfo">
         
         <li><label>账号</label>@Html.TextBoxFor(m => m.Phone, new { @class = "dfinput",@disabled="disabled" })</li>
          <li><label>密码</label>@Html.PasswordFor(m => m.UserPSD, new { @class = "dfinput" })</li>
        <li><label>姓名</label>@Html.TextBoxFor(m => m.UserName, new { @class = "dfinput" })</li>
         <li><label>年龄</label>@Html.TextBoxFor(m => m.Age, new { @class = "dfinput" })</li>
         <li><label>性别</label>@Html.TextBoxFor(m => m.Sex, new { @class = "dfinput" })</li>
         <li><label>毕业院校</label>@Html.TextBoxFor(m => m.Major, new { @class = "dfinput" })</li>
         <li><label>家庭住址</label>@Html.TextBoxFor(m => m.Address, new { @class = "dfinput" })</li>
         <li><label>身份证号</label>@Html.TextBoxFor(m => m.QQ, new { @class = "dfinput" })</li>
         <li><label>自我介绍</label>@Html.TextBoxFor(m => m.Remark, new { @class = "dfinput" })</li>
          <li><label>个人照片</label>
               <input type="hidden" name="PicID" id="PicID" value="@Model.PicID" class="txt_input" style="width:220px;height:23px;margin-bottom:0px;"/>
               <div style="padding-top:12px;padding-left:90px;">
                        <span class="explanation">
                            <button class="download" type="button" id="uploadify1">
                                上传</button></span></div>
           <div id="divimg1"></div>
                    
         </li>
          <li><label>&nbsp;</label><input name="" style="border:0;" type="button" id="btnSubmit" class="btn" value="确认保存"/></li>
    </ul>
    
    
    </div>


</body>

</html>
<script type="text/ecmascript">
    $(function () {
        if ('@Model.ID' != "0") {
            $("#PicID").val('@Model.PicID');
            if ($("#PicID").val()!="") {
                $("#divimg1").html("<img src='/Scripts/kindeditor/attached/image/@Model.PicID'>");
            }
           
        }
        setTimeout(function () {
            $('#uploadify1').uploadify({
                'onInit': function () { //载入时触发，将flash设置到最小
                    $("#uploadify1-queue").hide();
                },
                'multi': false,
                'fileSizeLimit': '512000KB',
                'width': 50,
                'height': 20,
                'buttonText': '上传',
                'removeCompleted': false,
                'swf': '/Scripts/uploadify/uploadify.swf',
                'uploader': '/Home/uploadHead',
                'onUploadSuccess': function (file, data, response) {
                    alert("上传成功！");
                    $("#divimg1").html("<img src='/Scripts/kindeditor/attached/image/" + data + "'>");
                    $("#PicID").val(data);
                }
            });





        });
        $("#btnSubmit").click(function () {
            $.ajax({
                type: "post",
                traditional: true,
                url: "/Work/EditMM",
                data: { UserPSD: $("#UserPSD").val(), Name: $("#UserName").val(), Age: $("#Age").val(), Sex: $("#Sex").val(), Major: $("#Major").val(), Address: $("#Address").val(), Remark: $("#Remark").val(), PicID: $("#PicID").val(), QQ: $("#QQ").val() },
                datatpye: "json",
                success: function (data) {
                       alert("个人信息修改成功！");
                       window.location = "/Work/GRXX";
                }
            });
        });
    });

</script>