@model Maticsoft.Model.Records
@{
    ViewBag.Title = "Create";
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>入库</title>

<link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/Content/Date/jquery.datetimepicker.css"/ >
<script src="/Content/Date/jquery.js"></script>
<script src="/Content/Date/jquery.datetimepicker.js"></script>
</head>

<body class="add_test_img"  >

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">成绩</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>成绩</span></div>
    <form method="post" action="/Records/Edit">
    <ul class="forminfo">
         <li><label>身份证号</label>@Html.TextBoxFor(m => m.CID, new { @class = "dfinput" })</li>
         <li><label>姓名</label>@Html.TextBoxFor(m => m.Name, new { @class = "dfinput" })</li>
         <li><label>电话</label>@Html.TextBoxFor(m => m.Phone, new { @class = "dfinput" })</li>
         <li><label>科目</label>@Html.TextBoxFor(m => m.OrderID, new { @class = "dfinput" })</li>
         <li><label>分数</label>@Html.TextBoxFor(m => m.XGRQ, new { @class = "dfinput" })</li>
         <li><label>考核时间</label>@Html.TextBoxFor(m => m.SGRQ, new { @class = "dfinput" })</li>
        @Html.HiddenFor(m=>m.ID)

    <li><label>&nbsp;</label><input name="" style="border:0;" type="submit" class="btn" value="确认保存"/></li>
    </ul>
    </form>
    
    </div>


</body>

</html>

<script type="text/ecmascript">
   
    
    $('#SGRQ').datetimepicker({
        lang: "ch",
        format: "Y/m/d",
        timepicker: false,
        yearEnd: 2050,
        todayButton: false
    });
</script>

