@model Maticsoft.Model.LeaveMessage
@{
    ViewBag.Title = "LeaveMessage";
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>留言板</title>
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="add_test_img">
    <div class="logo"><img src="/pcwap/image/logo.jpg" /></div>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/Home/index">首页</a></li>
            <li><a href="#">添加信息</a></li>
        </ul>
    </div>
    @{
        string UserName = Maticsoft.BLL.Users.GetUsersName();
        string UserType = "";
        if (UserName.Substring(0, 3) == "管理员")
        {
            UserType = "管理员";
        }
        else if (UserName.Substring(0, 2) == "教师")
        {
            UserType = "教师";
        }
        else
        {
            UserType = "用户";
        }
    }
    @if (UserType == "用户")
    {


        <div class="formtitle"><span>添加信息</span></div>


        <div class="formbody">

            <div class="formtitle"><span>留言板</span></div>
            <form method="post" action="/Home/Add">
                <ul class="forminfo">
                    <li><label>留言标题</label>@Html.TextBoxFor(m => m.UserName, new { @class = "dfinput" })</li>
                    <li><label>留言内容</label>@Html.TextAreaFor(m => m.Context, new { style = "width:700px;height:300px" })</li>

                    @Html.HiddenFor(m => m.ID)
                    <li><label>&nbsp;</label><input name="" style="border:0;" type="submit" class="btn" value="确认保存" /></li>
                </ul>
            </form>

        </div>

    }
    @if (UserType == "教师")
    {


        <div class="formtitle"><span>添加信息</span></div>


        <div class="formbody">

            <div class="formtitle"><span>留言板</span></div>
            <form method="post" action="/Home/Add">
                <ul class="forminfo">
                    <li><label>留言标题</label>@Html.TextBoxFor(m => m.UserName, new { @class = "dfinput" })</li>
                    <li><label>留言内容</label>@Html.TextAreaFor(m => m.Context, new { style = "width:700px;height:300px" })</li>

                    @Html.HiddenFor(m => m.ID)
                    <li><label>&nbsp;</label><input name="" style="border:0;" type="submit" class="btn" value="确认保存" /></li>
                </ul>
            </form>

        </div>

    }
    @if (UserType == "管理员")
    {
        @Html.Action("List2", Model)
    }
</body>

</html>


